<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Supine - Food Ordering App</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />


    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External JS -->
    <!-- <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script> -->

    <!-- App JS -->


  </head>

  <body>

    <!-- Top nav bar (fixed) -->
    <header class="main-header">
     <div class ="main-header-text">- Supine - </div>
    </header>

    <!-- Page-specific (main) content here -->
    <main class="container">
      <section class="restaurants">
        <h2 class= "second-header">Restaurants</h2>
          <div><form class="restaurant-button"action="/menu">
                <input type="submit" value="Mezzanine - An upscale restaurant with home cooking" />
                </form>
                <form class="restaurant-button"action="/home">
                <input type="submit" value="Jimmy's Burger Stand - Burgers, Burgers, and Burgers" />
                </form>
                <form class="restaurant-button"action="/home">
                <input type="submit" value="Taste of Italy - Fine Italian Dining in a cozy setting " />
                </form>
                <form class="restaurant-button"action="/home">
                <input type="submit" value="Sushi Time - Japan brought to your door, authentic" />
                </form>
          </div>
      </section>

  </body>
</html>
