<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Supine - Food Ordering App</title>

    <script type='text/javascript' src='/vendor/jquery-3.0.0.js'></script>

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External JS -->
    
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Calligraffitti" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    
    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body class"menu-page">

    <!-- Top nav bar (fixed) -->
    <header class="menu-header">
      <div class="menu-header-text">
        <h1>MEZZANINE</h1>
      </div>

    </header>

    <!-- Page-specific (main) content here -->
    <main class="main-menu">
      <section class="menu-container">
        <form class="form-group" id='orderButton' method="POST" action="/order" style="margin-bottom: 0">
            <p class="item-2">Hamburger - $12   <input class="item-list" type="number" min="0" id= "item1" name="Hamburger" placeholder="0"></p>
            <p class="item-2">Sushi - $11   <input class="item-list" type="number" min="0" id= "item2" name="Sushi" placeholder="0"</p>
            <p class="item-2" >Coke - $2   <input class="item-list" type="number" min="0" id= "item3" name="Coke" placeholder="0"></p>
            <p class="item-2">Orange Juice - $3   <input class="item-list" type="number" min="0" id= "item4" name="Orange_Juice" placeholder="0"></p>
            <p class="item-2">Name:   <input type="text" class= "name-form" id="user_name" name="user_name" placeholder="Name"></p>
            <p class="item-2">Phone Number:   <input class= "number-form" id="user_phone" name="user_phone" placeholder="6475559987"></p>
            <section><input class="place-order" type="submit" value="Place Order"></section>
            <div class="total-price">Total Price $<input id="total-price" name="total_price" readonly="readonly" value="0"></input></div>

          </form>
        </section>
        <div class="order-response"></div>
      </main>
  </body>
</html>
